[Unit]
Description=Observe Enhance PIR capacity every five minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=5min
Unit=enhance-autoscale.service

[Install]
WantedBy=timers.target
